[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = {path = "/workspace/langchain/libs/langchain", editable = true}
langchain-experimental = "*"
openai = "*"
neo4j = "*"
wikipedia = "*"
unstructured = "*"

[requires]
python_version = "3.11"

[dev-packages]
